<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Page Not Found <small><font face="Tahoma" color="red"></font></small></h1>
          <br />
          <p>The page you requested could not be found. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
          <p><b>Or you could just press this neat little button:</b></p>
		  <a href="{{url_for('main.index')}}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
        </div>
        <br />



<div class="embed-responsive embed-responsive-4by3">
	<iframe class="embed-responsive-item" src="http://3.bp.blogspot.com/_hL7HogamDVc/S9jFeTgHBAI/AAAAAAAABkE/1MT3sg-qQ8M/s1600/TOS_2x12_IMudd0016-Trekpulse.jpg"></iframe>
</div>
    </div>
	</div>
</div>
</div>




