{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Media{% endblock %}


{% block page_content %}

    
    {% block styles %}
    {{super()}}
    <link rel="stylesheet"
        href="{{url_for('static', filename='newstyle.css')}}">
    {% endblock %}
 
    <h1>Search Media</h1>
	<p>You are logged in as <b>{{ current_user.username }}</b>.</p>

    <p>*Separate tags with a comma; no tag > 128 characters</p>
		<div class="row">
           <div class="col-md-3">
               {{ wtf.quick_form(tagform) }}
           </div>
       </div> 


	   <nav>
		<ul class="pager">
		{% if page > 1 %}
		<li><a href="{{ url_for('main.mediafeed', page=(page - 1)) }}"><b>Previous</b></a></li>
        {% endif %}
		<li><a href="{{ url_for('main.mediafeed', page=(page + 1)) }}"><b>Next</b></a></li>
      </ul>
    </nav>



{% for dict in video_package %}

<div class="list-group">
	<a href="http://127.0.0.1:8000/" class="list-group-item active" id="mediaItem--{{loop.index}}">
		<h4 class="list-group-item-heading">{{ dict["name"] }}</h4>
		<img src={{ dict["thumbnail"] }} alt="...">
	  	<p class="list-group-item-text">{{ dict["description"] }}</p>	
   		<p class="list-group-item-text">Some info here</p>
	</a>
</div>

 {% endfor %}





{% endblock %}
