{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}video upload{% endblock %}


{% block page_content %}

<div class="span7 text-center">
   <a class="btn btn-primary" href="{{ url_for('main.videoupload') }}" role="button">Upload Another Video</a>
<!-- <button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit"> --!>
</div>
	{% endblock %}


