{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}video upload{% endblock %}


{% block page_content %}
    
    {% block styles %}
    {{super()}}
    <link rel="stylesheet"
        href="{{url_for('static', filename='uploadstyle.css')}}">
    {% endblock %}

	<div class='text-center'>
		<newnav><h1>Success!!!</h1></newnav>
	</div>
<!-- querySelector() not finding this id, have to use stripped down version of button, which defeats the whole purpose of this --!>





{% endblock %}

