{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}video upload{% endblock %}


{% block page_content %}
    
    {% block styles %}
    {{super()}}
    <link rel="stylesheet"
        href="{{url_for('static', filename='uploadstyle.css')}}">
    {% endblock %}

	<div class='text-center'>
		<newnav><h1>Submit Video Asset</h1></newnav>
	</div>
<!-- querySelector() not finding this id, have to use stripped down version of button, which defeats the whole purpose of this --!>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>





<form id="videoform" form>
	<div id="form_results"></div>
	<fieldset class="form-group">
    <label for="exampleTextarea">Title</label>
    <textarea class="form-control" name="videoTitle" rows="1"></textarea>
  </fieldset>
    <fieldset class="form-group">
    <label for="exampleTextarea">Description</label>
    <textarea class="form-control" name="videoDescription" rows="3"></textarea>
</fieldset>
 <fieldset class="form-group">
    <label for="exampleTextarea">Tags</label>
    <textarea class="form-control" name="videoTags" rows="1"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" name="file_attach">
	<small class="text-muted"></small>
  </fieldset>
  <button type="submit" id="submit_btn" class="btn btn-primary">Submit</button>
</form>






<script>

$("#submit_btn").click(function() {  
        var proceed = true;
        //simple validation at client's end
        //loop through each field and we simply change border color to red for invalid fields       
       /* $("#contact_form input[required=true], #contact_form textarea[required=true]").each(function(){
            $(this).css('border-color',''); 
            if(!$.trim($(this).val())){ //if this field is empty 
                $(this).css('border-color','red'); //change border color to red   
                proceed = false; //set do not proceed flag
            }
            //check invalid email
            var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/; 
            if($(this).attr("type")=="email" && !email_reg.test($.trim($(this).val()))){
                $(this).css('border-color','red'); //change border color to red   
                proceed = false; //set do not proceed flag              
            }   
        }); */
       
        if(proceed) //everything looks good! proceed...
        {
           //data to be sent to server         
            var m_data = new FormData();    
            m_data.append( 'video_title', $('input[name=videoTitle]').val());
            m_data.append( 'video_description', $('input[name=videoDescription]').val());
            m_data.append( 'video_tags', $('input[name=videoTags]').val());
            m_data.append( 'file_attach', $('input[name=file_attach]')[0].files[0]);
             
            //instead of $.post() we are using $.ajax()
            //that's because $.ajax() has more options and flexibly.
            $.ajax({
              url: '/videoupload',
			  data: m_data,
              processData: false,
              contentType: false,
		  	  type: 'POST',
				  //dataType:'json',
			  datatype:'html',
              success: function(response){
                 //load json data from server and output message     
                if(response.type == 'error'){ //load json data from server and output message     
                    output = '<div class="error">'+response.text+'</div>';
                }else{
                    output = '<div class="success">'+response.text+'</div>';
                }
                $("#videoform #form_results").hide().html(output).slideDown();
              }
            });         
        }
    });
    
    //reset previously set border colors and hide all message on .keyup()
    $("#contact_form  input[required=true], #contact_form textarea[required=true]").keyup(function() { 
        $(this).css('border-color',''); 
        $("#result").slideUp();
    });


</script>

{% endblock %}

