{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}video upload{% endblock %}


{% block page_content %}
    
    {% block styles %}
    {{super()}}
    <link rel="stylesheet"
        href="{{url_for('static', filename='uploadstyle.css')}}">
    {% endblock %}

	<div class='text-center'>
		<newnav><h1>Submit Video Asset</h1></newnav>
	</div>
<!-- querySelector() not finding this id, have to use stripped down version of button, which defeats the whole purpose of this --!>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>




<!-- MDN example form 
<form enctype="multipart/form-data" method="post" name="fileinfo">
  <label>Your email address:</label>
  <input type="email" autocomplete="on" autofocus name="userid" placeholder="email" required size="32" maxlength="64" /><br />
  <label>Custom file label:</label>
  <input type="text" name="filelabel" size="12" maxlength="32" /><br />
  <label>File to stash:</label>
  <input type="file" name="file" required />
  <input type="submit" value="Stash the file!" />
</form>
<div></div> --!>



<form id="videoform" name="bootform" form>
	<div id="form_results"></div>
	<fieldset class="form-group">
    <label for="exampleTextarea">Title</label>
    <textarea class="form-control" name="videoTitle" id="videotitleid" rows="1"></textarea>
  </fieldset>
    <fieldset class="form-group">
    <label for="exampleTextarea">Description</label>
    <textarea class="form-control" name="videoDescription" id="videodescriptionid" rows="3"></textarea>
</fieldset>
<fieldset class="form-group">
	<newnav><p>*Separate tags with a comma; no tag > 128 characters</p></newnav>
	<label for="exampleTextarea">Tags</label>
    <textarea class="form-control" name="videoTags" id="videotagsid" rows="1"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="videofileid" name="file_attach">
	<small class="text-muted"></small>
  </fieldset>
  <button type="submit" id="submit_btn" class="btn btn-primary">Submit</button>
</form>




<!-- keep it simple, stupid — AJAX from MDN docs, where all things work better than Stackoverflow/googling results: 
https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects  --!>

<script>
var form = document.forms.namedItem("bootform");
form.addEventListener('submit', function(ev) {

  var oOutput = document.querySelector("div"),
      oData = new FormData(form);

  //oData.append("CustomField", "This is some extra data");

  var oReq = new XMLHttpRequest();
  oReq.open("POST", "/videoupload", true);
  oReq.onload = function(oEvent) {
	  if (oReq.status == 200) {
		  //alert("200 status");
		  //window.location.replace("http://127.0.0.1:8000/uploadsuccess");
		//redirect URL for Heroku deployment
		  window.location.replace("https://ovp-frontend-framework.herokuapp.com/uploadsuccess");
      //oOutput.innerHTML = "Uploaded!";
    } else {
      oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
    }
  };

  oReq.send(oData);
  ev.preventDefault();
}, false);

</script>

       



{% endblock %}

